.Cell {
  border: 2px solid black;
  padding: 20px;
  overflow: hidden;
  width: 25px;
  height: 15px;
  font-size: 12px;
  text-align: center;
}

.Wall {
  background-color: black;
  color: black
}

.Start {
  background-color: lightgreen;
  color: lightgreen
}

.Unreachable {
  background-color: lightcoral;
  color:lightcoral;
}